html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.todo-row {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.todo-row span:nth-child(2) {
  font-weight: 600;
  width: 250px;
}
